#card-2 {
  display: none;
  
  .content {
    text-align: center;
    flex-direction: column;
    @include align-center;
  }

  #rating {
    background-color: $background-components;
    color: $primary-color;
    margin: 35px;
    padding: 2px 10px 2px 10px;
    border-radius: 30px;
  }

  .title-2 {
    @include title;
  }
  .text-card {
    padding: 20px 18px 10px 0px;
  }
}
